﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="app">

</div>

<script src="~/statics/vue/dist/vue.min.js"></script>

<script>
    const v = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>

