<template>
    <div>
        <div v-show="infoShow">
            <el-row>
                <el-col :span="24" class="back-button"><el-button type="text" icon="el-icon-back" @click="goBack();">返回</el-button></el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="title"><h3 v-text="info.name"></h3></el-col>
                <el-col :span="12"></el-col>
            </el-row>
            <el-row>
                <el-col :span="6">账号</el-col>
                <el-col :span="18" v-text="info.account"></el-col>
            </el-row>
            <el-row>
                <el-col :span="24">&nbsp;</el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div>
                        <el-table :data="orderList" border v-loading="orderLoading">
                            <el-table-column prop="productName" label="商品名称">
                            </el-table-column>
                            <el-table-column prop="quantity" label="数量">
                            </el-table-column>
                            <el-table-column prop="beginDate" label="开始日期">
                            </el-table-column>
                            <el-table-column prop="endDate" label="截至日期">
                            </el-table-column>
                        </el-table>
                    </div>
                </el-col>
            </el-row>
            <div class="pagination">
                <el-pagination @current-change="handleCurrentChangeOrde"
                               layout="prev, pager, next"
                               :page-size="pageSizeComp" 
                               :total="pageTotalCountOrde">
                </el-pagination>
            </div>
        </div>
        <div v-loading="companyLoading" v-show="companyShow">
            <div class="handle-box">
                <el-input v-model="keywordComp" placeholder="请输入关键词搜索" class="handle-input mr10" @keyup.enter.native="search"></el-input>
                <el-button type="primary" icon="el-icon-search" @click="search">搜索</el-button>
            </div>
            <el-row>
                <el-col :span="24">
                    <div>
                        <el-table :data="companyList" border style="width: 100%" :empty-text="tableEmptyText">
                            <el-table-column prop="companyName" label="企业名称">
                                <template scope="scope">
                                    <a href="javascript:;" @click="showInfo(scope.row)">
                                        <span>{{scope.row.companyName}}</span>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="username" label="帐号">
                            </el-table-column>
                            <el-table-column prop="saleTaxNo" label="销方税号">
                            </el-table-column>
                            <el-table-column prop="phone" label="手机号">
                            </el-table-column>
                            <el-table-column prop="productName" label="商品名称">
                            </el-table-column>
                        </el-table>
                    </div>
                </el-col>
            </el-row>
            <div class="pagination">
                <el-pagination @current-change="handleCurrentChangeComp"
                               layout="prev, pager, next"
                               :page-size="pageSizeOrde" 
                               :total="pageTotalCountComp">
                </el-pagination>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            let self = this;
            return {
                tableEmptyText: self.$consts.LIST_EMPTY_TXT,

                curPageNumOrde: 1,
                pageTotalCountOrde: 1,
                pageSizeOrde: self.$consts.DEFAULT_PAGE_SIZE,
                keywordOrde: '',
                orderLoading: false,
                info: {
                    name: '',
                    account: '',
                },
                infoShow: false,
                orderList: [],
                productNo: '',
                seledId: 0,

                curPageNumComp: 1,
                pageTotalCountComp: 1,
                pageSizeComp: self.$consts.DEFAULT_PAGE_SIZE,
                keywordComp: '',
                lastKeywordComp: '',
                companyLoading: false,
                companyShow: true,
                companyList: [],
            }
        },
        mounted() {
            let self = this;
            self.showCompanyList();
        },
        computed: {
        },
        methods: {
            handleCurrentChangeComp(val) {
                let self = this;
                self.curPageNumComp = val;
                if (self.keyword != '') {
                    self.searchData();
                }
                else {
                    self.getCompanyList();
                }
            },
            handleCurrentChangeOrde(val) {
                let self = this;
                self.curPageNumOrde = val;
                self.getOrderList();
            },
            getInfo(name, username) {
                let self = this;
                self.info.name = name;
                self.info.account = username;
                self.getOrderList();
            },
            searchData() {
                let self = this;
                self.companyLoading = true;
                self.$webapi.customer.companyList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNumComp,
                    self.keywordComp,
                    (rst) => {
                        self.companyLoading = false;
                        if (rst.success) {
                            self.companyList = rst.data.list;
                            self.pageTotalCountComp = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.SEARCH_EMPTY_TXT;
                            self.lastKeywordComp = self.keywordComp;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            search() {
                let self = this;
                if (self.lastKeywordComp == "" && self.keywordComp == "") return;
                if (self.lastKeywordComp == self.keywordComp) return;
                self.curPageNumComp = 1;
                self.searchData();
            },
            getOrderList() {
                let self = this;
                self.orderLoading = true;
                self.$webapi.customer.companyOrderList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNumOrde,
                    self.keywordOrde,
                    self.seledId,
                    (rst) => {
                        self.orderLoading = false;
                        if (rst.success) {
                            self.orderList = rst.data.list;
                            self.pageTotalCountOrde = rst.data.pager.totalCount;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            getCompanyList() {
                let self = this;
                self.companyLoading = true;
                self.$webapi.customer.companyList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNumComp,
                    "", 
                    (rst) => {
                        self.companyLoading = false;
                        if (rst.success) {
                            self.companyList = rst.data.list;
                            self.pageTotalCountComp = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.LIST_EMPTY_TXT;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            showCompanyList() {
                let self = this;
                self.infoShow = false;
                self.companyShow = true;
                self.getCompanyList();
            },
            showInfo(row) {
                let self = this;
                self.infoShow = true;
                self.companyShow = false;
                self.seledId = row.id;
                self.getInfo(row.companyName, row.username);
            },
            goBack() {
                let self = this;
                self.showCompanyList();
            }
        }
    }
</script>
<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }

    .title {
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    .align-right {
        text-align: right;
    }

</style>
