<template>
    <div class="header" background-color="#545c64">
        <div class="logo">{{this.$consts.PRODUCT_NAME}}</div>
        <div class="user-info">
            <el-dropdown trigger="click" @command="handleCommand">
                <span class="el-dropdown-link">
                    <img class="user-logo" src="../../../static/img/img.jpg">
                    {{truename}}<span>({{username}})</span>
                </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="loginout">退出</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                name: this.$consts.DEFAULT_LOGIN_NAME,
            }
        },
        computed:{
            username() {
                let self = this;
                let username = self.$store.getters.username;
                return username ? username : self.name;
            },
            truename() {
                let self = this;
                let truename = self.$store.getters.truename;
                return truename ? truename : self.name;
            }
        },
        methods:{
            handleCommand(command) {
                if(command == 'loginout'){
                    let self = this;
                    self.$store.commit('clear');
                    self.$router.push('/login');
                }
            }
        },
        mounted: function () {
            let self = this;
            let logined = self.$store.getters.logined;
            if (logined != self.$consts.DEFAULT_LOGINED) {
                self.$router.push({ path: '/login', query: { Rurl: self.$route.fullPath } });
            }
        }
    }
</script>
<style scoped>
    .header {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 70px;
        font-size: 22px;
        line-height: 70px;
        color: #fff;
    }
    .header .logo{
        float: left;
        width:250px;
        text-align: center;
    }
    .user-info {
        float: right;
        padding-right: 50px;
        font-size: 16px;
        color: #fff;
    }
    .user-info .el-dropdown-link{
        position: relative;
        display: inline-block;
        padding-left: 50px;
        color: #fff;
        cursor: pointer;
        vertical-align: middle;
    }
    .user-info .user-logo{
        position: absolute;
        left:0;
        top:15px;
        width:40px;
        height:40px;
        border-radius: 50%;
    }
    .el-dropdown-menu__item{
        text-align: center;
    }
</style>
