<template>
    <div>
        <el-row>
            <el-col :span="24" class="back-button"><el-button type="text" icon="el-icon-back" @click="goBack();">返回</el-button></el-col>
        </el-row>
        <el-row>
            <el-col :span="24" class="title">
                <el-row>
                    <el-col :span="12">创建合同</el-col>
                    <el-col :span="12">
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <!--合同基本信息-->
                <el-form :model="contactForm" label-width="80px" :rules="contactFormRules" ref="contactForm">
                    <el-form-item label="企业名称" prop="companyName">
                        <el-autocomplete v-model="contactForm.companyName"
                                         :fetch-suggestions="serachCompanyData"
                                         placeholder="请输入内容"
                                         @select="handleCompanySelect">
                        </el-autocomplete>
                    </el-form-item>
                    <el-form-item label="合同编号" prop="no">
                        <el-input v-model="contactForm.no" placeholder="请输入合同编号" maxlength="20" minlength="1"></el-input>
                    </el-form-item>
                    <el-form-item label="合同金额" prop="price">
                        <el-input v-model.number="contactForm.price" placeholder="请输入合同金额" maxlength="9" minlength="1"></el-input>
                    </el-form-item>
                    <el-form-item label="开始日期" prop="beginTime">
                        <el-date-picker v-model="contactForm.beginTime" type="date" placeholder="请选择开始日期" value-zone="GMT+0800"></el-date-picker>
                    </el-form-item>
                    <el-form-item label="截至日期" prop="endTime">
                        <el-date-picker v-model="contactForm.endTime" type="date" placeholder="请选择截至日期"></el-date-picker>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24" class="title">
                <el-row>
                    <el-col :span="12">合同内容</el-col>
                    <el-col :span="12" class="align-right">
                        <el-button type="primary" size="small" icon="el-icon-plus" @click="handleProductAdd()">添加合同内容</el-button>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <div class="table">
                    <el-table :data="addedProducts" border style="width: 100%">
                        <el-table-column prop="productName" label="商品名称">
                        </el-table-column>
                        <el-table-column prop="chargeModeName" label="计费方式">
                        </el-table-column>
                        <el-table-column prop="count" label="购买数量（库存）">
                        </el-table-column>
                        <el-table-column label="操作" width="160">
                            <template scope="scope">
                                <el-button size="small" type="text" @click="handleProductEdit(scope.$index, scope.row)">编辑</el-button>
                                <el-button size="small" type="text" @click="handleProductDelete(scope.$index, scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">&nbsp;</el-col>
        </el-row>
        <el-row>
            <el-col :span="24" class="align-center">
                <el-button type="primary" size="medium" icon="el-icon-check" :loading="addSubmitLoading" @click="addSubmit()">创建合同</el-button>
            </el-col>
        </el-row>

        <div>
            <!--新增商品界面-->
            <el-dialog title="新增商品" :visible.sync="productAddFormVisible" :close-on-click-modal="false">
                <el-form :model="productAddForm" label-width="80px" :rules="productAddFormRules" ref="productAddForm">
                    <el-form-item label="商品名称" prop="productId">
                        <el-select v-model="productAddForm.productId" placeholder="请选择" @change="handleProdAddFormPordSel(productAddForm.productId)">
                            <el-option v-for="item in products"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="计费方式" prop="chargeModeId">
                        <el-select v-model="productAddForm.chargeModeId" placeholder="请选择" :disabled="true">
                            <el-option v-for="item in productChargeModes"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="购买数量" prop="count">
                        <el-input type="number" v-model.number="productAddForm.count" placeholder="请输入数量" maxlength="6" minlength="1"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click.native="productAddFormVisible = false">取消</el-button>
                    <el-button type="primary" @click.native="productAddSubmit">保存</el-button>
                </div>
            </el-dialog>
            <!--修改商品界面-->
            <el-dialog title="修改商品" :visible.sync="productEditFormVisible" :close-on-click-modal="false">
                <el-form :model="productEditForm" label-width="80px" :rules="productEditFormRules" ref="productEditForm">
                    <el-form-item label="商品名称" prop="productId">
                        <el-select v-model="productEditForm.productId" placeholder="请选择" @change="handleProdEditFormPordSel(productEditForm.productId)">
                            <el-option v-for="item in products"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="计费方式" prop="chargeModeId">
                        <el-select v-model="productEditForm.chargeModeId" placeholder="请选择" :disabled="true">
                            <el-option v-for="item in productChargeModes"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="购买数量" prop="count">
                        <el-input type="number" v-model.number="productEditForm.count" placeholder="请输入数量" maxlength="6" minlength="1"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click.native="productEditFormVisible = false">取消</el-button>
                    <el-button type="primary" @click.native="productEditSubmit">保存</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                companyList: [],
                lastCompanySelectKw: '',
                keyword: '',
                products: [],
                productChargeModes: [],
                addedProducts: [],
                addSubmitLoading: false,

                //新增界面
                contactFormRules: {
                    no: [
                        { type: "string", required: true, message: '请输入合同编号', trigger: 'blur' },
                        {
                            type: "string", required: true, message: '合同编号不能全部为空格', trigger: 'blur',
                            transform(value) {
                                return value.trim();
                            }
                        },
                        { max: 20, message: '合同编号长度不能大于20位', trigger: 'blur' },
                    ],
                    price: [
                        { type: 'number', required: true, message: '请输入合同金额', trigger: 'blur' },
                        { type: 'number', min: 0.01, max: 999999.99, message: '金额不能大于1000000或小于0.01', trigger: 'blur' },
                    ],
                    beginTime: [
                        { type: 'date', required: true, message: '请输入开始日期', trigger: 'blur' },
                    ],
                    endTime: [
                        { type: 'date', required: true, message: '请输入截至日期', trigger: 'blur' },
                    ]
                },
                //新增界面数据
                contactForm: {
                    companyName: '',
                    companyId: 0,
                    title: '',
                    distributorId: 0,
                    no: '',
                    price: '',
                    beginTime: '',
                    endTime: ''
                },

                //新增商品信息
                productAddFormVisible: false,
                productAddFormRules: {
                    productId: [{ type: 'number', required: true, message: "请选择商品名称", trigger: "change" }],
                    count: [
                        { type: 'number', required: true, message: '请输入数量', trigger: 'blur' },
                        { type: 'number', min: 1, max: 999999, message: '数量不能大于1000000或小于1', trigger: 'blur' },
                        { type: 'number', pattern: /^\d+$/, message: '数量必须为整数', trigger: 'blur' },
                    ],
                },
                productAddForm: {
                    productId: '',
                    productName: '',
                    productNo: '',
                    chargeModeId: '',
                    chargeModeName: '',
                    count: ''
                },

                //修改商品信息
                productEditFormVisible: false,
                productEditFormRules: {
                    productId: [{ type: 'number', required: true, message: "请选择商品名称", trigger: "change" }],
                    count: [
                        { type: 'number', required: true, message: '请输入数量', trigger: 'blur' },
                        { type: 'number', min: 1, max: 999999, message: '数量不能大于1000000或小于1', trigger: 'blur' },
                        { type: 'number', pattern: /^\d+$/, message: '数量必须为整数', trigger: 'blur' },
                    ],
                },
                productEditForm: {
                    index: 0,
                    productId: '',
                    productNo: '',
                    productName: '',
                    chargeModeId: '',
                    chargeModeName: '',
                    count: 0
                },
            }
        },
        mounted() {
            this.getCompanyData();
        },
        computed: {
            data() {
                let self = this;
                return {
                    companyList: self.companyList,
                    products: self.products,
                    productChargeModes: self.productChargeModes,
                };
            },
        },
        methods: {
            searchProduct(id) {
                return this.products.filter(t => { return t.id == id; });
            },
            searchProdChargeMode(id) {
                return this.rechargeList.filter(t => t.id == id);
            },
            getProducts() {
                let self = this;
                self.$webapi.product.list(
                    (rst) => {
                        if (rst.success) {
                            self.products = rst.data;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            getProductChargeModes() {
                let self = this;
                self.$webapi.product.chargeModeList(
                    (rst) => {
                        if (rst.success) {
                            self.productChargeModes = rst.data;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            getCompanyData() {
                let self = this;
                self.$webapi.distributor.getNameList(self.$consts.DEFAULT_AUTOCOMPLATE_ITEM_SIZE,
                    "",
                    (rst) => {
                        if (rst.success) {
                            self.companyList = rst.data;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            serachCompanyData(kw, cb) {
                let self = this;
                if (self.lastCompanySelectKw === kw) return cb(self.companyList);
                self.$webapi.distributor.getNameList(self.$consts.DEFAULT_AUTOCOMPLATE_ITEM_SIZE,
                    kw,
                    (rst) => {
                        if (rst.success) {
                            self.lastCompanySelectKw = kw;
                            cb(rst.data);
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            handleCompanySelect(item) {
                let self = this;
                self.contactForm.companyName = item.value;
                self.contactForm.companyId = item.id;
            },

            //创建合同
            addSubmit() {
                let self = this;
                self.$refs.contactForm.validate((valid) => {
                    if (valid) {
                        if (self.contactForm.companyName == "") {
                            self.$message({
                                message: '企业名称不能为空',
                                type: 'warning'
                            });
                            return;
                        }

                        if (new Date(self.contactForm.beginTime) >= new Date(self.contactForm.endTime)) {
                            self.$message({
                                message: '开始日期需要小于截至日期',
                                type: 'warning'
                            });
                            return;
                        }

                        let para = Object.assign({}, self.contactForm);
                        para.no = para.no.trim();
                        para.title = self.contactForm.companyName;
                        para.distributorId = self.contactForm.companyId;
                        para.Contents = self.addedProducts;
                        self.addSubmitLoading = true;
                        self.$webapi.distributor.createContact(para,
                            (rst) => {
                                self.addSubmitLoading = false;
                                if (rst.success) {
                                    self.$message({
                                        message: '保存成功',
                                        type: 'success'
                                    });
                                    self.$router.push('/contact/list');
                                }
                                else {
                                    self.$message.error(rst.message);
                                }
                            }
                        );
                    }
                });
            },

            //新增产品信息
            handleProductAdd() {
                let self = this;
                self.productAddFormVisible = true;
                if (self.$refs['productAddForm'] != undefined) self.$refs['productAddForm'].resetFields();
                if (self.productChargeModes.length == 0) self.getProductChargeModes();
                if (self.products.length == 0) self.getProducts();
            },
            handleProdAddFormPordSel(val) {
                let self = this;
                var prod = self.searchProduct(val);
                self.productAddForm.chargeModeId = prod[0].chargeMode.id;
                self.productAddForm.productName = prod[0].name;
                self.productAddForm.productNo = prod[0].no;
                self.productAddForm.chargeModeName = prod[0].chargeMode.name;
            },
            productAddSubmit() {
                let self = this;
                self.$refs.productAddForm.validate((valid) => {
                    if (valid) {
                        let para = Object.assign({}, self.productAddForm);
                        self.addedProducts.push(para);
                        self.productAddFormVisible = false;
                    }
                });
            },
            //修改产品信息
            handleProductEdit(index, row) {
                let self = this;
                self.productEditFormVisible = true;
                if (self.$refs['productEditForm'] != undefined) self.$refs['productEditForm'].resetFields();
                self.productEditForm.index = index;
                self.productEditForm.productId = row.productId;
                self.productEditForm.productName = row.productName;
                self.productEditForm.chargeModeId = row.chargeModeId;
                self.productEditForm.chargeModeName = row.chargeModeName;
                self.productEditForm.count = row.count;
            },
            handleProdEditFormPordSel(val) {
                let self = this;
                var prod = self.searchProduct(val);
                self.productEditForm.chargeModeId = prod[0].chargeMode.id;
                self.productEditForm.productName = prod[0].name;
                self.productEditForm.productNo = prod[0].no;
                self.productEditForm.chargeModeName = prod[0].chargeMode.name;
            },
            productEditSubmit() {
                let self = this;
                self.$refs.productEditForm.validate((valid) => {
                    if (valid) {
                        var data = self.addedProducts[self.productEditForm.index];
                        data.productId = self.productEditForm.productId;
                        data.productName = self.productEditForm.productName;
                        data.chargeModeId = self.productEditForm.chargeModeId;
                        data.chargeModeName = self.productEditForm.chargeModeName;
                        data.count = self.productEditForm.count;
                        self.productEditFormVisible = false;
                    }
                });
            },
            //产品删除
            handleProductDelete(index, row) {
                let self = this;
                this.$confirm('确定要删除吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    self.addedProducts.splice(index, 1);
                }).catch(() => {          
                });
            },
            goBack() {
                let self = this;
                self.$router.push({ path: '/contact' });
            }
        }
    }
</script>

<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }

    .title {
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    .align-right {
        text-align: right;
    }
    .align-center {
        text-align: center;
    }
    
</style>

