<template>
    <div v-loading="loading">
        <el-row>
            <el-col :span="24" class="back-button"><el-button type="text" icon="el-icon-back" @click="goBack();">返回</el-button></el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-row>
                    <el-col :span="12" class="title">合同详情</el-col>
                    <el-col :span="12">
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <!--合同基本信息-->
                <el-form :model="contactForm" label-width="80px" ref="contactForm">
                    <el-form-item label="企业名称" prop="companyName">
                        <span>{{contactForm.companyName}}</span>
                    </el-form-item>
                    <el-form-item label="合同编号" prop="no">
                        <span>{{contactForm.no}}</span>
                    </el-form-item>
                    <el-form-item label="合同金额" prop="price">
                        <span>{{contactForm.price}}</span>
                    </el-form-item>
                    <el-form-item label="开始日期" prop="beginTime">
                        <span>{{contactForm.beginTime}}</span>
                    </el-form-item>
                    <el-form-item label="截至日期" prop="endTime">
                        <span>{{contactForm.endTime}}</span>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-row>
                    <el-col :span="12">合同内容</el-col>
                    <el-col :span="12">
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">&nbsp;</el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <div class="table">
                    <el-table :data="addedProducts" border style="width: 100%">
                        <el-table-column prop="productName" label="商品名称">
                        </el-table-column>
                        <el-table-column prop="chargeModeName" label="计费方式">
                        </el-table-column>
                        <el-table-column prop="count" label="购买数量（库存）">
                        </el-table-column>
                    </el-table>
                </div>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                addedProducts: [],
                loading: true,

                //新增界面数据
                contactForm: {
                    id: 0,
                    companyName: '',
                    companyId: 0,
                    title: '',
                    distributorId: 0,
                    no: '',
                    price: '',
                    beginTime: '',
                    endTime: ''
                },
            }
        },
        mounted() {
            let self = this;
            self.getInfo();
        },
        computed: {
            data() {
                let self = this;
                return {
                    contactForm: self.contactForm,
                    addedProducts: self.addedProducts,
                };
            },
        },
        methods: {
            getInfo() {
                let self = this;
                self.$webapi.distributor.getContactInfo(self.$route.query.id,
                    (rst) => {
                        if (rst.success) {
                            if (rst.data == null) {
                                self.$message.error("没有找到数据");
                                return;
                            }
                            self.contactForm.id = rst.data.id;
                            self.contactForm.distributorId = rst.data.distributorId;
                            self.contactForm.companyName = rst.data.companyName;
                            self.contactForm.companyId = rst.data.distributorId;
                            self.contactForm.title = rst.data.title;
                            self.contactForm.no = rst.data.no;
                            self.contactForm.price = rst.data.price;
                            self.contactForm.beginTime = rst.data.beginTime;
                            self.contactForm.endTime = rst.data.endTime;
                            self.addedProducts = rst.data.contents;
                            self.loading = false;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            goBack() {
                let self = this;
                self.$router.push({ path: '/contact' });
            }
        }
    }
</script>
<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }

    .title {
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    .align-right {
        text-align: right;
    }

    .align-center {
        text-align: center;
    }

    
</style>

