<template>
    <div class="table">
        <div class="handle-box">
            <el-input v-model="keyword" placeholder="请输入关键词搜索" class="handle-input mr10" @keyup.enter.native="search"></el-input>
            <el-button type="primary" icon="el-icon-search" @click="search">搜索</el-button>
        </div>
        <el-table :data="data" v-loading="listLoading" border style="width: 100%" :empty-text="tableEmptyText">
            <el-table-column prop="companyName" label="企业名称">
            </el-table-column>
            <el-table-column prop="no" label="合同编号">
            </el-table-column>
            <el-table-column prop="price" label="合同金额（元）">
            </el-table-column>
            <el-table-column prop="contents" label="合同内容">
                <template scope="scope">
                    <span v-for="item in scope.row.contents">
                        {{item.productName}}{{item.count}}<br>
                    </span>
                </template>
                
            </el-table-column>
            <el-table-column prop="beginTime" label="开始日期" width="110">
            </el-table-column>
            <el-table-column prop="endTime" label="截至日期" width="110">
            </el-table-column>
            <el-table-column label="状态" prop="status" :formatter="statusFormatter" width="80">
            </el-table-column>
        </el-table>
        <div class="pagination">
            <el-pagination @current-change="handleCurrentChange"
                           layout="prev, pager, next"
                           :page-size="pageSize" 
                           :total="pageTotalCount">
            </el-pagination>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            let self = this;
            return {
                tableEmptyText: self.$consts.LIST_EMPTY_TXT,
                curPageNum: 1,
                pageTotalCount: 1,
                pageSize: self.$consts.DEFAULT_PAGE_SIZE,
                keyword: '',
                tableData: [],
                listLoading: false,
                lastKeyword: '',
            }
        },
        mounted() {
            this.getData();
        },
        computed: {
            data() {
                return this.tableData;
            }
        },
        methods: {
            statusFormatter(row, column) {
                if (row.status === 0) return "正常";
                else if (row.status === 1) return "正常";
                return "到期";
            },
            handleCurrentChange(val) {
                let self = this;
                self.curPageNum = val;
                if (self.keyword != '') {
                    self.searchData();
                }
                else {
                    self.getData();
                }
            },
            getData() {
                let self = this;
                self.listLoading = true;
                self.$webapi.contact.contactList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum, 
                    "", 
                    (rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.tableData = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.LIST_EMPTY_TXT;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            searchData() {
                let self = this;
                self.listLoading = true;
                this.$webapi.contact.contactList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum, 
                    self.keyword,
                    (rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.tableData = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.SEARCH_EMPTY_TXT;
                            self.lastKeyword = this.keyword;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            search() {
                let self = this;
                if (self.lastKeyword == "" && self.keyword == "") return;
                if (self.lastKeyword == this.keyword) return;
                self.curPageNum = 1;
                self.searchData();
            },
        }
    }
</script>

<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }
</style>
