<template>
    <div>
        <div v-loading="infoLoading" v-show="infoShow">
            <el-row>
                <el-col :span="12" class="title"><h3 v-text="info.name"></h3></el-col>
                <el-col :span="12"></el-col>
            </el-row>
            <el-row>
                <el-col :span="6">账号</el-col>
                <el-col :span="18" v-text="info.account"></el-col>
            </el-row>
            <el-row>
                <el-col :span="6"><div>渠道码</div></el-col>
                <el-col :span="18" v-text="info.channelCode"></el-col>
            </el-row>
            <el-row>
                <el-col :span="24">&nbsp;</el-col>
            </el-row>
            <el-row>
                <el-col :span="6"><div>账户余额</div></el-col>
                <el-col :span="18" class="red-text currency">{{info.balance | currency}}</el-col>
            </el-row>
            <el-row>
                <el-col :span="24">&nbsp;</el-col>
            </el-row>
            <el-row>
                <el-col :span="24" class="title"></el-col>
            </el-row>
            <el-row>
                <el-col :span="12"><h3>我的商品</h3></el-col>
                <el-col :span="12"></el-col>
            </el-row>
            <el-row>
                <el-col :span="24">&nbsp;</el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div>
                        <el-table :data="purchProducts" border>
                            <el-table-column prop="purchasedProduct.name" label="商品名称">
                                <template scope="scope">
                                    <a href="javascript:;" @click="showProdCons(scope.row.purchasedProduct.no)">
                                        <span>{{scope.row.purchasedProduct.name}}</span>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="purchasedProduct.chargeModeName" label="计费方式">
                            </el-table-column>
                            <el-table-column prop="purchasedProduct.price" label="单价（元）" :formatter="moneyFmter">
                            </el-table-column>
                            <el-table-column prop="stockAddUp" label="购买数量（库存）">
                            </el-table-column>
                            <el-table-column prop="stockOnHand" label="剩余数量（库存）">
                            </el-table-column>
                        </el-table>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div v-loading="consLoading" v-show="consShow">
            <el-row>
                <el-col :span="24" class="back-button"><el-button type="text" icon="el-icon-back" @click="backToInfo">返回</el-button></el-col>
            </el-row>
            <div class="handle-box">
                <el-input v-model="keyword" placeholder="请输入企业名称关键词搜索" class="handle-input mr10" @keyup.enter.native="search"></el-input>
                <el-button type="primary" icon="el-icon-search" @click="search">搜索</el-button>
            </div>
            <el-row>
                <el-col :span="12"><h3>商品明细</h3></el-col>
                <el-col :span="12"></el-col>
            </el-row>
            <el-row>
                <el-col :span="24">&nbsp;</el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div>
                        <el-table :data="prodCons" border style="width: 100%" :empty-text="tableEmptyText">
                            <el-table-column prop="companyName" label="企业名称">
                            </el-table-column>
                            <el-table-column prop="productName" label="商品名称">
                            </el-table-column>
                            <el-table-column prop="quantity" label="正在使用">
                            </el-table-column>
                            <el-table-column prop="beginDate" label="开始日期">
                            </el-table-column>
                            <el-table-column prop="endDate" label="截至日期">
                            </el-table-column>
                        </el-table>
                    </div>
                </el-col>
            </el-row>
            <div class="pagination">
                <el-pagination @current-change="handleCurrentChange"
                               layout="prev, pager, next"
                               :page-size="pageSize" 
                               :total="pageTotalCount">
                </el-pagination>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            let self = this;
            return {
                tableEmptyText: self.$consts.LIST_EMPTY_TXT,
                pageSize: self.$consts.DEFAULT_PAGE_SIZE,
                curPageNum: 1,
                pageTotalCount: 1,
                keyword: '',
                lastKeyword: '',
                infoLoading: false,
                info: {
                    name: '',
                    account: '',
                    channelCode: '',
                    balance: ''
                },
                infoShow: true,
                purchProducts: [],

                consLoading: false,
                consShow: false,
                productNo: '',
                prodCons: [],
                seledProdNo: '',
            }
        },
        mounted() {
            let self = this;
            self.getInfo();
            self.getPurchProducts();
        },
        computed: {
            
        },
        methods: {
            moneyFmter(row, column) {
                var val = row.purchasedProduct ? row.purchasedProduct.price : '';
                if (val === undefined || val === '') return '';
                val = Number(val);
                return this.$curcyfmt.format(val, { code: 'CNY' });;
            },
            handleCurrentChange(val) {
                let self = this;
                self.curPageNum = val;
                if (self.keyword != '') {
                    self.searchData();
                }
                else {
                    self.getProductCons();
                }
            },
            searchData() {
                let self = this;
                self.consLoading = true;
                self.$webapi.acccount.productConsumeList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum,
                    self.seledProdNo,
                    self.keyword,
                    (rst) => {
                        self.consLoading = false;
                        if (rst.success) {
                            self.prodCons = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.SEARCH_EMPTY_TXT;
                            self.lastKeyword = this.keyword;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            search() {
                let self = this;
                if (self.lastKeyword == "" && self.keyword == "") return;
                if (self.lastKeyword == this.keyword) return;
                self.curPageNum = 1;
                self.searchData();
            },

            getInfo() {
                let self = this;
                self.infoLoading = true;
                self.$webapi.acccount.getInfo((rst) => {
                        self.infoLoading = false;
                        if (rst.success) {
                            self.info.name = rst.data.distributor.name;
                            self.info.account = rst.data.distributor.username;
                            self.info.channelCode = rst.data.distributor.channelCode;
                            self.info.balance = rst.data.asset ? rst.data.asset.balance : '';
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            
            getPurchProducts() {
                let self = this;
                self.listLoading = true;
                self.$webapi.acccount.productList((rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.purchProducts = rst.data;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },

            getProductCons() {
                let self = this;
                self.consLoading = true;
                self.$webapi.acccount.productConsumeList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum, 
                    self.seledProdNo,
                    "",
                    (rst) => {
                        self.consLoading = false;
                        if (rst.success) {
                            self.prodCons = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.LIST_EMPTY_TXT;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },

            showProdCons(no) {
                let self = this;
                self.infoShow = false;
                self.consShow = true;
                self.seledProdNo = no;
                self.getProductCons();
            },

            showInfo() {
                let self = this;
                self.infoShow = true;
                self.consShow = false;
                self.getPurchProducts();
            },

            backToInfo() {
                let self = this;
                self.showInfo();
            }
        }
    }
</script>
<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }

    .title {
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    .align-right{
        text-align: right;
    }
</style>
