<template>
    <div>
        <el-row>
            <el-col :span="24" class="back-button"><el-button type="text" icon="el-icon-back" @click="goBack();">返回</el-button></el-col>
        </el-row>
        <div class="handle-box">
            <el-input v-model="keyword" placeholder="请输入企业名称关键词搜索" class="handle-input mr10" @keyup.enter.native="search"></el-input>
            <el-button type="primary" icon="el-icon-search" @click="search">搜索</el-button>
        </div>
        <el-row>
            <el-col :span="12" ><h3>商品明细</h3></el-col>
            <el-col :span="12"></el-col>
        </el-row>
        <el-row>
            <el-col :span="24">&nbsp;</el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-table :data="tableData" v-loading="listLoading" border style="width: 100%" :empty-text="tableEmptyText">
                    <el-table-column prop="companyName" label="企业名称">
                    </el-table-column>
                    <el-table-column prop="productName" label="商品名称">
                    </el-table-column>
                    <el-table-column prop="quantity" label="正在使用">
                    </el-table-column>
                    <el-table-column prop="beginDate" label="开始日期">
                    </el-table-column>
                    <el-table-column prop="endDate" label="截止日期">
                    </el-table-column>
                </el-table>
                
            </el-col>
        </el-row>
        <div class="pagination">
            <el-pagination @current-change="handleCurrentChange"
                           layout="prev, pager, next"
                           :page-size="pageSize" 
                           :total="pageTotalCount">
            </el-pagination>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            let self = this;
            return {
                tableEmptyText: self.$consts.LIST_EMPTY_TXT,
                tableData: [],
                curPageNum: 1,
                pageTotalCount: 1,
                pageSize: self.$consts.DEFAULT_PAGE_SIZE,
                listLoading: false,
                name: self.$store.getters.seledDistName,
                keyword: '',
                lastKeyword: '',
            }
        },
        mounted() {
            this.getData();
        },
        computed: {
            data() {
                return this.tableData;
            }
        },
        methods: {
            handleCurrentChange(val) {
                let self = this;
                self.curPageNum = val;
                if (self.keyword != '') {
                    self.searchData();
                }
                else {
                    self.getData();
                }
            },
            getData() {
                let self = this;
                self.listLoading = true;
                self.$webapi.distributor.productConsumeList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum,
                    self.$route.query.pno,
                    self.$route.query.cno,
                    "", 
                    (rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.tableData = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.LIST_EMPTY_TXT;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            searchData() {
                let self = this;
                self.listLoading = true;
                self.$webapi.distributor.productConsumeList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum,
                    self.$route.query.pno,
                    self.$route.query.cno,
                    self.keyword,
                    (rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.tableData = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.SEARCH_EMPTY_TXT;
                            self.lastKeyword = this.keyword;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            search() {
                let self = this;
                if (self.lastKeyword == "" && self.keyword == "") return;
                if (self.lastKeyword == this.keyword) return;
                self.curPageNum = 1;
                self.searchData();
            },
            goBack() {
                let self = this;
                self.$router.push({ path: '/distributor/detail', query: { id: self.$route.query.id } });
            }
        }
    }
</script>

<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }

</style>
