<template>
    <div>
        <div v-loading="infoLoading">
            <el-row>
                <el-col :span="24" class="back-button"><el-button type="text" icon="el-icon-back" @click="goBack();">返回</el-button></el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="title"><h3 v-text="info.name"></h3></el-col>
                <el-col :span="12"></el-col>
            </el-row>
            <el-row>
                <el-col :span="6">账号</el-col>
                <el-col :span="18" v-text="info.account"></el-col>
            </el-row>
            <el-row>
                <el-col :span="6"><div>渠道码</div></el-col>
                <el-col :span="18" v-text="info.channelCode"></el-col>
            </el-row>
            <el-row>
                <el-col :span="24">&nbsp;</el-col>
            </el-row>
            <el-row>
                <el-col :span="6"><div class="red-text">账户余额</div></el-col>
                <el-col :span="18" class="red-text currency">{{info.balance | currency}}</el-col>
            </el-row>
            <el-row class="handle-box">
                <el-col :span="24">
                    <el-button type="primary" icon="el-icon-plus" @click="handleAssetAdd()">充值</el-button>
                    <el-button plain icon="el-icon-more" @click="handleRechargeList()">充值记录</el-button>
                </el-col>
            </el-row>
            <el-row class="title">
                <el-col :span="24">&nbsp;</el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <el-button type="primary" icon="el-icon-plus" @click="handleProductAdd()">添加商品</el-button>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">&nbsp;</el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div>
                        <el-table :data="purchProducts" v-loading="listLoading" border>
                            <el-table-column prop="purchasedProduct.name" label="商品名称">
                                <template scope="scope">
                                    <a href="javascript:;" @click="showProdConsList(scope.row.purchasedProduct.no)">
                                        <span>{{scope.row.purchasedProduct.name}}</span>
                                    </a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="purchasedProduct.chargeModeName" label="计费方式">
                            </el-table-column>
                            <el-table-column prop="purchasedProduct.price" label="单价（元）" :formatter="moneyFmter">
                            </el-table-column>
                            <el-table-column prop="stockAddUp" label="购买数量（库存）">
                            </el-table-column>
                            <el-table-column prop="stockOnHand" label="剩余数量（库存）">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template scope="scope">
                                    <el-button size="small" type="text" @click="handleProductEdit(scope.$index, scope.row)">编辑</el-button>
                                    <el-button size="small" type="text" @click="handleProductDelete(scope.$index, scope.row)" v-if="scope.row.stockAddUp == scope.row.stockOnHand">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div>
            <!--余额充值界面-->
            <el-dialog title="余额充值" :visible.sync="assetAddFormVisible" :close-on-click-modal="false">
                <el-form :model="assetAddForm" label-width="80px" :rules="assetAddFormRules" ref="assetAddForm">
                    <el-form-item label="企业名称" prop="name">
                        <span v-text="assetAddForm.name"></span>
                    </el-form-item>
                    <el-form-item label="余额" prop="balance">
                        <span class="red-text currency">{{assetAddForm.balance | currency}}</span>
                    </el-form-item>
                    <el-form-item label="充值金额" prop="amount">
                        <el-input v-model.number="assetAddForm.amount" placeholder="请输入金额" maxlength="9" minlength="1"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click.native="assetAddFormVisible = false">取消</el-button>
                    <el-button type="primary" :loading="assetAddSubmitLoading" @click.native="assetAddSubmit()">保存</el-button>
                </div>
            </el-dialog>
            <!--新增商品界面-->
            <el-dialog title="新增商品" :visible.sync="productAddFormVisible" :close-on-click-modal="false">
                <el-form :model="productAddForm" label-width="80px" :rules="productAddFormRules" ref="productAddForm">
                    <el-form-item label="商品名称" prop="productId">
                        <el-select v-model="productAddForm.productId" placeholder="请选择" @change="handleProdAddFormPordSel(productAddForm.productId)">
                            <el-option v-for="item in products"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="计费方式" prop="chargeModeId">
                        <el-select v-model="productAddForm.chargeModeId" placeholder="请选择" :disabled="true">
                            <el-option v-for="item in productChargeModes"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="单价" prop="price">
                        <el-input v-model.number="productAddForm.price" placeholder="请输入金额" maxlength="9" minlength="1"></el-input>
                    </el-form-item>
                    <el-form-item label="购买数量" prop="purchaseCount">
                        <el-input v-model.number="productAddForm.purchaseCount" placeholder="请输入数量" maxlength="6" minlength="1"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click.native="productAddFormVisible = false">取消</el-button>
                    <el-button type="primary" @click.native="productAddSubmit">保存</el-button>
                </div>
            </el-dialog>
            <!--修改商品界面-->
            <el-dialog title="修改商品" :visible.sync="productEditFormVisible" :close-on-click-modal="false">
                <el-form :model="productEditForm" label-width="80px" :rules="productEditFormRules" ref="productEditForm">
                    <el-form-item label="商品名称" prop="productId">
                        <el-select v-model="productEditForm.productId" placeholder="请选择" @change="handleProdEditFormPordSel(productEditForm.productId)">
                            <el-option v-for="item in products"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="计费方式" prop="chargeModeId">
                        <el-select v-model="productEditForm.chargeModeId" placeholder="请选择" :disabled="true">
                            <el-option v-for="item in productChargeModes"
                                       :key="item.id"
                                       :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="单价" prop="price">
                        <el-input v-model.number="productEditForm.price" placeholder="请输入金额" maxlength="9" minlength="1"></el-input>
                    </el-form-item>
                    <el-form-item label="购买数量" prop="purchaseCount">
                        <el-input type="number" v-model.number="productEditForm.purchaseCount" placeholder="请输入数量" maxlength="6" minlength="1"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click.native="productEditFormVisible = false">取消</el-button>
                    <el-button type="primary" @click.native="productEditSubmit">保存</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                listLoading: false,
                products: [],
                productChargeModes: [],
                info: {
                    name: '',
                    account: '',
                    channelCode: '',
                    balance: ''
                },
                purchProducts: [],
                infoLoading: false,

                //账户余额
                assetAddFormVisible: false,  //新增界面是否显示
                assetAddFormRules: {
                    amount: [
                        { type: 'number', required: true, message: '请输入金额', trigger: 'blur' },
                        { type: 'number', min: 0.01, max: 999999.99, message: '金额不能大于1000000或小于0.01', trigger: 'blur' },
                    ],
                },
                assetAddForm: {
                    name: '',
                    amount: '',
                    balance: ''
                },
                assetAddSubmitLoading: false,

                //新增商品信息
                productAddFormVisible: false,
                productAddFormRules: {
                    productId: [{ type: 'number', required: true, message: "请选择商品名称", trigger: "change" }],
                    price: [
                        { type: 'number', required: true, message: '请输入金额', trigger: 'blur' },
                        { type: 'number', min: 0, max: 999999.99, message: '金额不能大于1000000', trigger: 'blur' },
                    ],
                    purchaseCount: [
                        { type: 'number', required: true, message: '请输入数量', trigger: 'blur' },
                        { type: 'number', min: 1, max: 999999, message: '数量不能大于1000000或小于1', trigger: 'blur' },
                        { type: 'number', pattern: /^\d+$/, message: '数量必须为数字', trigger: 'blur' },
                    ],
                },
                productAddForm: {
                    productId: '',
                    distributorId: '',
                    chargeModeId: '',
                    price: '',
                    purchaseCount: ''
                },

                //修改商品信息
                productEditFormVisible: false,
                productEditFormRules: {
                    productId: [{ type: 'number', required: true, message: "请选择商品名称", trigger: "change" }],
                    price: [
                        { type: 'number', required: true, message: '请输入金额', trigger: 'blur' },
                        { type: 'number', min: 0, max: 999999.99, message: '金额不能大于1000000', trigger: 'blur' },
                    ],
                    purchaseCount: [
                        { type: 'number', required: true, message: '请输入数量', trigger: 'blur' },
                        { type: 'number', min: 1, max: 999999, message: '数量不能大于1000000或小于1', trigger: 'blur' },
                        { type: 'number', pattern: /^\d+$/, message: '数量必须为整数', trigger: 'blur' },
                    ],
                },
                productEditForm: {
                    id: '',
                    productId: '',
                    distributorId: '',
                    chargeModeId: '',
                    price: '',
                    purchaseCount: ''
                },
            }
        },
        mounted() {
            let self = this;
            self.getInfo();
        },
        computed: {
        },
        methods: {
            moneyFmter(row, column) {
                var val = row.purchasedProduct ? row.purchasedProduct.price : '';
                if (val === undefined || val === '') return '';
                val = Number(val);
                return this.$curcyfmt.format(val, { code: 'CNY' });
            },
            searchProduct(id) {
                return this.products.filter(t => { return t.id == id; });
            },
            searchProdChargeMode(id) {
                return this.productChargeModes.filter(t => t.id == id);
            },
            getProducts() {
                let self = this;
                self.$webapi.product.list(
                    (rst) => {
                        if (rst.success) {
                            self.products = rst.data;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            getProductChargeModes() {
                let self = this;
                self.$webapi.product.chargeModeList(
                    (rst) => {
                        if (rst.success) {
                            self.productChargeModes = rst.data;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            getInfo() {
                let self = this;
                self.infoLoading = true;
                self.$webapi.distributor.getInfo(self.$route.query.id,
                    (rst) => {
                        self.infoLoading = false;
                        if (rst.success) {
                            self.info.name = rst.data.distributor.name;
                            self.info.account = rst.data.distributor.username;
                            self.info.channelCode = rst.data.distributor.channelCode;
                            self.info.balance = rst.data.asset ? rst.data.asset.balance : '';
                            self.getPurchProducts();
                            self.initProductData();
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            getAsset() {
                let self = this;
                self.$webapi.distributor.getAsset(self.$route.query.id,
                    (rst) => {
                        if (rst.success) {
                            self.info.balance = rst.data.balance;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            getPurchProducts() {
                let self = this;
                self.listLoading = true;
                self.$webapi.distributor.stockList(self.$route.query.id,
                    self.info.channelCode,
                    (rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.purchProducts = rst.data;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            resetFormFields(formname) {
                let self = this;
                if (self.$refs[formname] != undefined) self.$refs[formname].resetFields();
            },
            
            // 账户余额
            handleAssetAdd() {
                let self = this;
                self.assetAddFormVisible = true;
                self.assetAddForm.name = self.info.name;
                self.assetAddForm.balance = self.info.balance;
                self.assetAddForm.amount = '';
                self.resetFormFields('assetAddForm');
            },
            assetAddSubmit() {
                let self = this;
                self.$refs.assetAddForm.validate((valid) => {
                    if (valid) {
                        var rechargeAmount = self.assetAddForm.amount;
                        let para = { DistributorId: self.$route.query.id, Amount: rechargeAmount };
                        self.assetAddSubmitLoading = true;
                        self.$webapi.distributor.recharge(para,
                            (rst) => {
                                self.assetAddSubmitLoading = false;
                                if (rst.success) {
                                    self.assetAddFormVisible = false;
                                    
                                    rechargeAmount = Number(rechargeAmount);

                                    var balance = self.info.balance;
                                    if (balance == '') balance = 0;
                                    balance = Number(balance);
                                    balance += rechargeAmount;

                                    rechargeAmount = self.$curcyfmt.format(rechargeAmount, { code: 'CNY' });
                                    balance = self.$curcyfmt.format(balance, { code: 'CNY' });

                                    var msg = '<strong style="color:red;">充值金额：' + rechargeAmount +
                                        '元</strong><br/><br/><strong>账户余额：' + balance + '元</strong><br/><br/>';

                                    self.$alert(msg, '账户充值成功', {
                                        confirmButtonText: '确定',
                                        center: true,
                                        dangerouslyUseHTMLString: true
                                    });

                                    self.resetFormFields('assetAddForm');
                                    self.getAsset();
                                }
                                else {
                                    self.$message.error(rst.message);
                                }
                            }
                        );
                    }
                });
            },

            //新增产品信息
            initProductData() {
                let self = this;
                if (self.productChargeModes.length == 0) self.getProductChargeModes();
                if (self.products.length == 0) self.getProducts();
            },
            handleProductAdd() {
                let self = this;
                self.initProductData();
                self.productAddFormVisible = true;
                self.resetFormFields('productAddForm');
            },
            handleProdAddFormPordSel(val) {
                let self = this;
                var prod = self.searchProduct(val);
                self.productAddForm.chargeModeId = prod[0].chargeMode.id;
            },
            productAddSubmit() {
                let self = this;
                self.$refs.productAddForm.validate((valid) => {
                    if (valid) {
                        let para = {
                            DistributorId: self.$route.query.id,
                            productId: self.productAddForm.productId,
                            chargeModeId: self.productAddForm.chargeModeId,
                            price: self.productAddForm.price,
                            purchaseCount: self.productAddForm.purchaseCount,
                        };
                        self.$webapi.distributor.createProduct(para,
                            (rst) => {
                                if (rst.success) {
                                    self.productAddFormVisible = false;
                                    self.$message({
                                        message: '保存成功',
                                        type: 'success'
                                    });
                                    self.resetFormFields('productAddForm');
                                    self.getPurchProducts();
                                }
                                else {
                                    self.$message.error(rst.message);
                                }
                            }
                        );
                    }
                });
            },
            //修改产品信息
            handleProductEdit(index, row) {
                let self = this;
                self.initProductData();
                self.productEditFormVisible = true;
                self.resetFormFields('productEditForm');
                self.productEditForm.id = row.purchasedProduct.id;
                self.productEditForm.productId = row.purchasedProduct.productId;
                self.productEditForm.distributorId = self.$route.query.id;
                self.productEditForm.chargeModeId = row.purchasedProduct.chargeModeId;
                self.productEditForm.price = row.purchasedProduct.price;
                self.productEditForm.purchaseCount = row.stockAddUp;
            },
            handleProdEditFormPordSel(val) {
                let self = this;
                var prod = self.searchProduct(val);
                self.productEditForm.chargeModeId = prod[0].chargeMode.id;
            },
            productEditSubmit() {
                let self = this;
                self.$refs.productEditForm.validate((valid) => {
                    if (valid) {
                        let para = {
                            id: self.productEditForm.id,
                            DistributorId: self.$route.query.id,
                            productId: self.productEditForm.productId,
                            chargeModeId: self.productEditForm.chargeModeId,
                            price: self.productEditForm.price,
                            purchaseCount: self.productEditForm.purchaseCount,
                            channelCode: self.info.channelCode,
                        };
                        self.$webapi.distributor.updateProduct(para,
                            (rst) => {
                                if (rst.success) {
                                    self.productEditFormVisible = false;
                                    self.$message({
                                        message: '保存成功',
                                        type: 'success'
                                    });
                                    self.resetFormFields('productEditForm');
                                    self.getPurchProducts();
                                }
                                else {
                                    self.$message.error(rst.message);
                                }
                            }
                        );
                    }
                });
            },

            //产品删除
            handleProductDelete(index, row) {
                let self = this;
                this.$confirm('确定要删除吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let para = {
                        id: row.purchasedProduct.id,
                        DistributorId: self.$route.query.id,
                        productId: row.productId,
                        channelCode: self.info.channelCode,
                    };
                    self.$webapi.distributor.deleteProduct(para,
                        (rst) => {
                            if (rst.success) {
                                self.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                self.getPurchProducts();
                            }
                            else {
                                self.$message.error(rst.message);
                            }
                        }
                    );
                }).catch(() => {          
                });
            },

            //显示充值记录
            handleRechargeList(name) {
                let self = this;
                self.$store.commit('storageSeledDistName', self.info.name);
                self.$router.push({ path: '/distributor/detail/recharge/list', query: { id: self.$route.query.id } });
            },

            //显示商品明细
            showProdConsList(prodNo) {
                let self = this;
                self.$store.commit('storageSeledDistName', self.info.name);
                self.$router.push({ 
                    path: '/distributor/detail/product/consulist', 
                    query: {
                        id: self.$route.query.id,
                        pno: prodNo,
                        cno: self.info.channelCode,
                     } 
                });
            },

            goBack() {
                let self = this;
                self.$router.push({ path: '/distributor' });
            }
        }
    }
</script>
<style scoped>

    .handle-box {
        margin-top: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }

    .title {
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    .align-right{
        text-align: right;
    }
    
</style>
