<template>
    <div class="table">
        <div class="handle-box">
            <el-button type="primary" icon="el-icon-plus" class="handle-del mr10" @click="handleAdd">新建</el-button>
            <el-input v-model="keyword" placeholder="请输入渠道商名称/帐号关键词搜索" class="handle-input mr10" @keyup.enter.native="search"></el-input>
            <el-button type="primary" icon="el-icon-search" @click="search">搜索</el-button>
        </div>
        <el-table :data="data" v-loading="listLoading" border style="width: 100%" :empty-text="tableEmptyText">
            <el-table-column prop="name" label="渠道商名称">
                <template scope="scope">
                    <router-link :to="{ path: '/distributor/detail', query: { id: scope.row.id }}">
                        <span>{{scope.row.name}}</span>
                    </router-link>
                </template>
            </el-table-column>
            <el-table-column prop="username" label="帐号">
            </el-table-column>
            <el-table-column prop="channelCode" label="渠道码">
            </el-table-column>
            <el-table-column label="操作" width="150">
                <template scope="scope">
                    <el-button type="text" size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button type="text" size="small" @click="handleResetPsd(scope.$index, scope.row)">重置密码</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination">
            <el-pagination @current-change="handleCurrentChange"
                           layout="prev, pager, next"
                           :page-size="pageSize" 
                           :total="pageTotalCount">
            </el-pagination>
        </div>

        <!--新增界面-->
        <el-dialog title="新建渠道商" :visible.sync="addFormVisible" :close-on-click-modal="false">
            <el-form :model="addForm" label-width="80px" :rules="addFormRules" ref="addForm">
                <el-form-item label="渠道名称" prop="name">
                    <el-input v-model="addForm.name" placeholder="请输入3-20个字的渠道商名称" maxlength="20" minlength="3"></el-input>
                </el-form-item>
                <el-form-item label="帐号" prop="username">
                    <el-input v-model="addForm.username" placeholder="请输入1-50位字符，空格无效" maxlength="50" minlength="1"></el-input>
                </el-form-item>
                <el-form-item label="初始密码" prop="password">
                    <el-input v-model="addForm.password" placeholder="最小长度为6位" maxlength="15" minlength="6"></el-input>
                </el-form-item>
                <el-form-item label="渠道码" prop="channelCode">
                    <el-input v-model="addForm.channelCode" placeholder="请输入最小长度为3位的字母或数字"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="addFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="addSubmit" :loading="addLoading">创建渠道商</el-button>
            </div>
        </el-dialog>
        <!--编辑界面-->
        <el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
            <el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">
                <el-form-item label="渠道名称" prop="name">
                    <el-input v-model="editForm.name" placeholder="请输入3-20个字的渠道商名称" maxlength="20" minlength="3"></el-input>
                </el-form-item>
                <el-form-item label="帐号" prop="username">
                    <el-input v-model="editForm.username" placeholder="请输入1-50位字符，空格无效" maxlength="50" minlength="1"></el-input>
                </el-form-item>
                <el-form-item label="渠道码" prop="channelCode">
                    <el-input v-model="editForm.channelCode" placeholder="请输入最小长度为3位的字母或数字"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="editFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="editSubmit" :loading="editLoading">保存</el-button>
            </div>
        </el-dialog>
        <!--重置密码界面-->
        <el-dialog title="重置密码" :visible.sync="resetPsdFormVisible" :close-on-click-modal="false">
            <el-form :model="resetPsdForm" label-width="80px" :rules="resetPsdFormRules" ref="resetPsdForm">
                <el-form-item label="渠道名称" prop="name">
                    <el-input v-model="resetPsdForm.name" readonly></el-input>
                </el-form-item>
                <el-form-item label="帐号" prop="username">
                    <el-input v-model="resetPsdForm.username" readonly></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="password">
                    <el-input v-model="resetPsdForm.password" placeholder="最小长度为6位" maxlength="15" minlength="6"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="resetPsdFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="resetPsdSubmit" :loading="resetPsdLoading">保存</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        data() {
            let self = this;
            return {
                tableEmptyText: self.$consts.LIST_EMPTY_TXT,
                tableData: [],
                curPageNum: 1,
                pageTotalCount: 1,
                pageSize: self.$consts.DEFAULT_PAGE_SIZE,
                listLoading: false,
                keyword:'',
                lastKeyword: '',

                //新增界面
                addFormVisible: false,  //新增界面是否显示
                addLoading: false,
                addFormRules: {
                    name: [
                        { type: "string", required: true, message: '请输入渠道名称', trigger: 'blur' },
                        {
                            type: "string", required: true, message: '渠道名称不能全部为空格', trigger: 'blur',
                            transform(value) {
                                return value.trim();
                            }
                        },
                        { max: 20, message: '渠道名称长度不能大于30位', trigger: 'blur' },
                        { min: 3, message: '渠道名称长度不能小于3位', trigger: 'blur' },
                    ],
                    username: [
                        { required: true, message: '请输入帐号', trigger: 'blur' },
                        { max: 15, message: '帐号长度不能大于50位', trigger: 'blur' },
                        { min: 1, message: '帐号长度不能小于1位', trigger: 'blur' },
                    ],
                    password: [
                        { required: true, message: '请输入初始密码', trigger: 'blur' },
                        { min: 6, message: '初始密码长度不能小于6位', trigger: 'blur' },
                    ],
                    channelCode: [
                        { required: true, message: '请输入渠道码', trigger: 'blur' },
                        { max: 20, message: '渠道码长度不能大于20位', trigger: 'blur' },
                        { min: 3, message: '渠道码长度不能小于3位', trigger: 'blur' },
                        { pattern: /^[0-9a-zA-Z]+$/, message: '请输入数字或字母', trigger: 'blur' },
                    ]
                },
                //新增界面数据
                addForm: {
                    name: '',
                    userName: '',
                    password: '',
                    channelCode: ''
                },

                //编辑界面
                editFormVisible: false, //编辑界面是否显示
                editLoading: false,
                editFormRules: {
                    name: [
                        { type: "string", required: true, message: '请输入渠道名称', trigger: 'blur' },
                        {
                            type: "string", required: true, message: '渠道名称不能全部为空格', trigger: 'blur',
                            transform(value) {
                                return value.trim();
                            }
                        },
                        { max: 20, message: '渠道名称长度不能大于30位', trigger: 'blur' },
                        { min: 3, message: '渠道名称长度不能小于3位', trigger: 'blur' },
                    ],
                    username: [
                        { required: true, message: '请输入帐号', trigger: 'blur' },
                        { max: 15, message: '帐号长度不能大于50位', trigger: 'blur' },
                        { min: 1, message: '帐号长度不能小于1位', trigger: 'blur' },
                    ],
                    channelCode: [
                        { required: true, message: '请输入渠道码', trigger: 'blur' },
                        { max: 20, message: '渠道码长度不能大于20位', trigger: 'blur' },
                        { min: 3, message: '渠道码长度不能小于3位', trigger: 'blur' },
                        { pattern: /^[0-9a-zA-Z]+$/, message: '请输入数字或字母', trigger: 'blur' },
                    ]
                },
                //编辑界面数据
                editForm: {
                    name: '',
                    username: '',
                    channelCode: ''
                },

                //重置密码界面
                resetPsdFormVisible: false, //重置密码界面是否显示
                resetPsdLoading: false,
                resetPsdFormRules: {
                    password: [
                        { required: true, message: '请输入新密码', trigger: 'blur' },
                        { min: 6, message: '新密码长度不能小于6位', trigger: 'blur' },
                    ],
                },
                //重置密码界面数据
                resetPsdForm: {
                    name: '',
                    username: '',
                    password: '',
                },
            }
        },
        mounted() {
            this.getData();
        },
        computed: {
            data() {
                return this.tableData;
            }
        },
        methods: {
            handleCurrentChange(val) {
                let self = this;
                self.curPageNum = val;
                if (self.keyword != '') {
                    self.searchData();
                }
                else {
                    self.getData();
                }
            },
            getData() {
                let self = this;
                self.listLoading = true;
                self.$webapi.distributor.list(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum, 
                    "", 
                    (rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.tableData = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.LIST_EMPTY_TXT;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            searchData() {
                let self = this;
                self.listLoading = true;
                this.$webapi.distributor.list(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum, 
                    self.keyword,
                    (rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.tableData = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                            self.tableEmptyText = self.$consts.SEARCH_EMPTY_TXT;
                            self.lastKeyword = this.keyword;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            search() {
                let self = this;
                if (self.lastKeyword == "" && self.keyword == "") return;
                if (self.lastKeyword == this.keyword) return;
                self.curPageNum = 1;
                self.searchData();
            },
            filterTag(value, row) {
                return row.tag === value;
            },
            resetFormFields(formname) {
                let self = this;
                if (self.$refs[formname] != undefined) self.$refs[formname].resetFields();
            },
            
            //显示新增界面
            handleAdd() {
                let self = this;
                self.addFormVisible = true;
                self.addForm = {
                    name: '',
                    username: '',
                    password: '',
                    channelCode: ''
                };
                self.resetFormFields('addForm');
            },
            //新增界面保存
            addSubmit() {
                let self = this;
                self.$refs.addForm.validate((valid) => {
                    if (valid) {
                        self.addLoading = true;
                        let para = Object.assign({}, this.addForm);
                        para.name = para.name.trim();
                        para.username = para.username.trim();
                        self.$webapi.distributor.create(para,
                            (rst) => {
                                self.addLoading = false;
                                if (rst.success) {
                                    self.addFormVisible = false;
                                    self.$message({
                                        message: '保存成功',
                                        type: 'success'
                                    });
                                    self.resetFormFields('addForm');
                                    self.getData();
                                }
                                else {
                                    self.$message.error(rst.message);
                                }
                            }
                        );
                    }
                });
            },

            //显示编辑界面
            handleEdit(index, row) {
                let self = this;
                self.editFormVisible = true;
                self.resetFormFields('editForm');
                self.editForm = Object.assign({}, row);
            },
            //编辑保存
            editSubmit() {
                let self = this;
                self.$refs.editForm.validate((valid) => {
                    if (valid) {
                        self.editLoading = true;
                        let para = Object.assign({}, this.editForm);
                        para.name = para.name.trim();
                        para.username = para.username.trim();
                        self.$webapi.distributor.update(para,
                            (rst) => {
                                self.editLoading = false;
                                if (rst.success) {
                                    self.editFormVisible = false;
                                    self.$message({
                                        message: '保存成功',
                                        type: 'success'
                                    });
                                    self.resetFormFields('editForm');
                                    self.getData();
                                }
                                else {
                                    self.$message.error(rst.message);
                                }
                            }
                        );
                    }
                });
            },

            //显示重置密码界面
            handleResetPsd(index, row) {
                let self = this;
                self.resetPsdFormVisible = true;
                self.resetFormFields('resetPsdForm');
                var data = Object.assign({}, row);
                data.password = "";
                self.resetPsdForm = data;
            },
            //重置密码保存
            resetPsdSubmit() {
                let self = this;
                self.$refs.resetPsdForm.validate((valid) => {
                    if (valid) {
                        this.$confirm('确认保存吗？', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            self.resetPsdLoading = true;
                            let para = Object.assign({}, this.resetPsdForm);
                            self.$webapi.distributor.resetPassword(para,
                                (rst) => {
                                    self.resetPsdLoading = false;
                                    if (rst.success) {
                                        self.resetPsdFormVisible = false;
                                        self.resetFormFields('resetPsdForm');
                                        self.$message({
                                            message: '保存成功',
                                            type: 'success'
                                        });
                                    }
                                    else {
                                        self.$message.error(rst.message);
                                    }
                                }
                            );
                        }).catch(() => {          
                        });
                    }
                });
            },
        }
    }
</script>

<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }
</style>
