<template>
    <div>
        <el-row>
            <el-col :span="24" class="back-button"><el-button type="text" icon="el-icon-back" @click="goBack();">返回</el-button></el-col>
        </el-row>
        <el-row>
            <el-col :span="12" ><h3>充值记录</h3></el-col>
            <el-col :span="12"></el-col>
        </el-row>
        <el-row>
            <el-col :span="24">&nbsp;</el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-table :data="tableData" v-loading="listLoading" border>
                    <el-table-column prop="" label="企业名称">
                        <template scope="scope">
                            <span>{{name}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="amount" label="充值金额" :width="200" :formatter="moneyFmter">
                    </el-table-column>
                    <el-table-column prop="dealTime" label="充值时间">
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>
        <div class="pagination">
            <el-pagination @current-change="handleCurrentChange"
                           layout="prev, pager, next"
                           :page-size="pageSize" 
                           :total="pageTotalCount">
            </el-pagination>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tableData: [],
                curPageNum: 1,
                pageTotalCount: 1,
                pageSize: this.$consts.DEFAULT_PAGE_SIZE,
                listLoading: false,
                name: this.$store.getters.seledDistName,
            }
        },
        mounted() {
            this.getData();
        },
        computed: {
            data() {
                return this.tableData;
            }
        },
        methods: {
            moneyFmter(row, column) {
                var val = row.amount;
                if (!val) return '';
                val = Number(val);
                return this.$curcyfmt.format(val, { code: 'CNY' });
            },
            handleCurrentChange(val) {
                let self = this;
                self.curPageNum = val;
                self.getData();
            },
            getData() {
                let self = this;
                self.listLoading = true;
                self.$webapi.distributor.rechargeList(self.$consts.DEFAULT_PAGE_SIZE,
                    self.curPageNum,
                    self.$route.query.id,
                    (rst) => {
                        self.listLoading = false;
                        if (rst.success) {
                            self.tableData = rst.data.list;
                            self.pageTotalCount = rst.data.pager.totalCount;
                        }
                        else {
                            self.$message.error(rst.message);
                        }
                    }
                );
            },
            goBack() {
                let self = this;
                self.$router.push({ path: '/distributor/detail', query: { id: self.$route.query.id } });
            }
        }
    }
</script>

<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }
</style>
